@charset "UTF-8";

* {
        font-family: Arial, Helvetica, sans-serif;

}

html {
    
    
}


body {    
    background: linear-gradient(120deg, #000000, #101010, #2c2c2c, #535353);
    background-size: 400% 400%;
    animation: gradient 15s infinite;
    
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

h1 {    
    color: #fff;
    font-size: 1.7em;
    text-align: center;
}



span {
       
}

header {
    margin: auto;
    padding: auto;
    text-align: center;
    display: block;
}

section {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.topo {   
    align-items: center;
    justify-content: center; 
  
}

div#apresentacao {
    display: flex;
       
       
}

#msgapresentacao {
    margin-left: 5px;
    justify-content: start;    
    display: grid;
    padding: 1em;
    max-width: 1080px;
    font-size: 1.2em; 
    font-weight: bold;  
       
}



#ilustracao {
    display: flex;
    max-height: 35em;
    max-width: 25em;       
    border-radius: 35%; 
    align-items: center;    
    
    
}

@media (max-width: 580px) {
    #apresentacao {
        flex-wrap: wrap;
    }

    img {
        margin: auto;
    }

    #ilustracao {
        max-width: 20em;
        margin-bottom: 20px;
        align-items: center;
    }

    #msgapresentacao {
        margin-left: 20px;
        max-width: 100%;                
    }
}


span {
    color: #aeaeae;
    display: block;
}

p {
    color: #aeaeae;
    margin-top: 10px;
    font-size: 1.3em;
}

#sobremim {
    padding: 1em;
    color: #aeaeae;    
    align-content: center;
    text-align: center;   
    flex-wrap: wrap; 
}

h2 {
    text-align: center;
    color: #aeaeae;
}


li {        
    border: 1px solid #cccccc34;
    text-align: center;
    background-color: rgba(41, 33, 33, 0.377);
}

a {
    padding: auto;
    margin: auto;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color: rgb(30, 121, 224);

}



ul {
    display: inline-flexbox;
    align-self: center;

}

ul#projetos {
    color: #aeaeae;
    text-decoration: underline;
    text-align: center;
    font-size: 1.5em;
}

li:hover {
    background-color: rgba(128, 128, 128, 0.459);
    color: white;
    text-decoration: underline;
}

.caixa-carregando {
    
}

.carregando {
    
}



footer {
    background-color: rgba(128, 128, 128, 0.363);
    color: white;
    text-align: center;
    padding: 10px 0;    
    bottom: 0;
    width: 100%
}


.construindo {
    font-size: 3em;
    font-weight: bolder;
    color: aliceblue;
}