@charset "UTF-8";

* {
        font-family: Arial, Helvetica, sans-serif;

}

body {    
    background: linear-gradient(120deg, #000000, #101010, #2c2c2c, #535353);
    background-size: 400% 400%;
    animation: gradient 12s infinite;
    
    
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

h1 {    
    color: #fff;
    font-size: 1.7em;
    text-align: center;
}

header {
    text-align: center;
    margin: auto;
    padding: auto;
    text-align: center;
    display: grid;
}

section {    
    justify-content: center;
    /* border: 1px solid black; */
    padding: 30px;
}

.topo {   
    align-items: center;
    justify-content: center;   
}

div#apresentacao {
    display: flex;            
}

section.habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

div.habilidades{
    display: grid;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
}

.imghabilidades {    
    height: 120px;
    width: auto;
    margin: auto;     
}

span.titulohabilidades {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1em;
}

#msgapresentacao {
    margin-left: 5px;
    justify-content: start;    
    display: grid;
    padding: 1em;
    max-width: 1080px;
    font-size: 1.2em; 
    font-weight: bold;        
}

#ilustracao {
    display: flex;
    max-height: 35em;
    max-width: 25em;       
    border-radius: 35%; 
    align-items: center;       
}

@media (max-width: 580px) {
    #apresentacao {
        flex-wrap: wrap;
    }

    img {
        margin: auto;
    }

    #ilustracao {
        max-width: 20em;
        margin-bottom: 20px;
        align-items: center;
    }

    #msgapresentacao {
        margin-left: 20px;
        max-width: 100%;                
    }
}

span {
    color: #aeaeae;    
}

p {
    color: #aeaeae;
    margin-top: 10px;
    font-size: 1.3em;
}

#sobremim {
    padding: 1em;
    color: #aeaeae;    
    align-content: center;
    text-align: center;   
    flex-wrap: wrap; 
}

h2 {
    text-align: center;
    color: #aeaeae;
}

a {
    text-decoration: none;
}

@media (min-width: 720px) {
    .projetos-container {
        grid-template-columns:1fr 1fr;
        justify-content: center;
    }
}

div.projetos-container{
     display: grid;     
     justify-content: center;     
}

#projetos {
    padding: 30px;
}

.projeto-card {    
    width: 20em;
    padding: 20px;
    margin: auto;    
}

.projeto-card div {
    display: grid;    
}

.projeto-card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.projeto-card h3 {
    text-align: center;
    margin-top: 10px;
    color: #aeaeae;
}

abbr {
    text-decoration: none;
}

footer {
    background-color: rgba(128, 128, 128, 0.363);
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 30px;  
    width: 100%
}

.construindo {
    font-size: 3em;
    font-weight: bolder;
    color: aliceblue;
}

#contato-container {     
    padding: 30px;
    
}

.contato-container {
    display: flex;
    justify-content: center;
}

.contato {
    margin: 10px;      

}

.contato img {
    height: 80px;
    width: 80px;
}

.contato p {
    text-align: center;    
}

#link:hover {
    background-color: #535353;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}